{% extends "blog/base.html" %}
{% block content %}
<p>
<h1 style="text-align: center;color: white;" id="aboutkotitle" align="center">About Page</h1>
<p style="text-align:center;color:white;font-size: 20px;">
    Here with our website you can direectly contact the college administration and verify your data.You can update your
    data ,photos,etc. so that college can have the apppropriate data of every students.Thanks For showing your love
    towards Us.Good Luck!!
</p>


{% endblock content %}
