{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
    <!--===============================================================================================-->
</head>


<div style="margin-left: 400px;margin-top: 150px;">

    {% if user.is_superuser %}
    <div>
        <button class="btn btn-outline-warning"><a style="text-decoration: none;color: red;"
                                                   href="{% url 'infosec-list-user' %}">List
            Information</a>
        </button>

        &nbsp;&nbsp;

    </div>
    {% else %}
    <button class="btn btn-outline-warning"><a style="text-decoration: none;color: red;"
                                               href="{% url 'infosec-list' %}">List
        Information</a>
    </button>

    &nbsp;&nbsp;
    <button class="btn btn-outline-warning"><a style="text-decoration: none;color: red;"
                                               href="{% url 'infosec-create' %}">Add
        Information</a>
    </button>
    {% endif %}

</div>


{% endblock content %}