{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
    <!--===============================================================================================-->
</head>


<div>

    {% if user.is_superuser %}
    <div style="background-color: red;margin-left:200px;text-align: center; width: 700px;height:300px;">
        <br>

        <button class="btn btn-outline-danger"><a style="text-decoration: none;color: white;"
                                                  href="{% url 'infosec-list-user' %}">List
            Information</a>
        </button>

        &nbsp;&nbsp;

    </div>
    {% else %}
    <div style="margin-left: 400px;margin-top: 150px;">
        <button class="btn btn-outline-warning"><a style="text-decoration: none;color: red;"
                                                   href="{% url 'infosec-list' %}">List
            Information</a>
        </button>

        &nbsp;&nbsp;
        <button class="btn btn-outline-warning"><a style="text-decoration: none;color: red;"
                                                   href="{% url 'infosec-create' %}">Add
            Information</a>
        </button>
    </div>
    {% endif %}

</div>


{% endblock content %}